SET MAILSERVER
  {{ monit_mailserver }}
  PORT {{ monit_mail_port }}
  USERNAME {{ monit_mail_username }} PASSWORD {{ monit_mail_password }}
  using {{ monit_mail_encryption }}


set mail-format { from: {{ monit_from_mail }} }
